$ff: Roboto, sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$lh-base: 1.5;

$fz-xs: 12px;
$fz-sm: 14px;
$fz-base: 18px;
$fz-lg: 24px;
$bz-nav: 24px;
$fz-xl: 48px;

$c-root: #ff0101;
$c-nav: white;
$c-grey-dark: #282d30;
$c-grey-light: #74798c;

$bg-nav: #020203;
$bg-page: #e5e5e5;

$bxsh-nav: 0 4px 4px rgba(0, 0, 0, 0.25);
